# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
env/
.env
.venv

# Conda
.conda
/conda-meta/
.ipynb_checkpoints

# Data - VERY IMPORTANT for large datasets
data/
*.csv
*.zip
*.pt
*.pth

test_results/
*.pdf

# Wandb - Weights & Biases tracking
wandb/
*.wandb
